.card-header {
  font-size: 1.2em;
}
.projtitel{
  color:mediumblue;
}
ul.sharing {
  padding-left:0;
}
.todolist {
    max-width: 800px;
}
.todolink {
    font-weight:600;
}
.todoline {
    float: right;
}
/*.deadline {
    margin-left:15px;
}*/
