.card-header {
  font-size: 1.2em;
}
.projtitel{
  color:mediumblue;
}
ul.sharing {
  padding-left:0;
}
.todolist {
    max-width: 800px;
}
.todolink {
    font-weight:600;
}
.todoline {
    float: right;
}
ul.striped-list > li:nth-of-type(even) {
    background-color: #e9e9f9 ;
}
.btn-link {
    padding: 0px;
}
.todostatus{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.todotop{
    margin-top: 20px;
}

.btop{
    margin-top: 20px;
}
.delete{
    margin-bottom: 20px;
}
.nomargin{
    margin-left: 0px;
    padding-left: 0px;
}
.redalert {
    color:red;
}
.newmem{
    margin-right: 15px;
    margin-bottom: 15px;
}
.newmembox{
    margin-right: 5px;
    margin-bottom: 15px;
}
.undonetask{
    color: red;
}
.ongoingtask{
    color: #d3a60c;
}
.finishedtask, .published, .articletitle {
    color: green;
}
.thankyou {
    color: green;
    background-color: #d2e8b9;
    padding : 3px;
    text-align: center;
}
.unpublished{
    color:red;
}
.commentbody{
    color:saddlebrown;
}
.imgcontainer {
    position: relative;
    text-align: center;
}
.bottom-centered {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%)
}
.card-header {
    font-family: "Lobster", sans-serif;
    font-size: 1.7em;
    color: #00A000;
}
