.card-header {
  font-size: 1.2em;
}
.projtitel{
  color:mediumblue;
}
ul.sharing {
  padding-left:0;
}
.todolist {
    max-width: 800px;
}
.todolink {
    font-weight:600;
}
.todoline {
    float: right;
}
ul.striped-list > li:nth-of-type(even) {
    background-color: #e9e9f9 ;
}
.btn-link {
    padding: 0px;
}
.todostatus{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}
.todotop{
    margin-top: 20px;
}

.btop{
    margin-top: 20px;
}
.delete{
    margin-bottom: 20px;
}
.nomargin{
    margin-left: 0px;
    padding-left: 0px;
}
